//- шаблон для создания dropdown - +dropdown([one,two,three])

mixin dropdown(attr,type,placeholder,h3text,span)
  .dropdown(class!=attributes.class)
    label
      svg.arrow
        use(xlink:href="#arrow")
    h3= h3text  
    span= span
    input(type=type,placeholder=placeholder)
    .dropdown-content._bRadius._border
      each i in attr
        .item
          h3= i
          .item__count
            .count.minus -
            h3.num_item1 2
            .count.plus +