mixin rate-button(name) 
  .rate-button
    label(class="rate-button__star")
      input(type="radio" class="rate-button__input" name=name)
    label(class="rate-button__star")
      input(type="radio" class="rate-button__input" name=name)
    label(class="rate-button__star")
      input(type="radio" class="rate-button__input" name=name)
    label(class="rate-button__star")
      input(type="radio" class="rate-button__input" name=name)
    label(class="rate-button__star")
      input(type="radio" class="rate-button__input" name=name)