mixin text-field-320(h3text,type,placeholder,span)
  h3._width-100=h3text
      span.right=span
  input(type=type placeholder=placeholder)._width-100
mixin text-field-150(type,placeholder)
  input(type=type placeholder=placeholder).input_150